/* Tailwind v4 imports */
@import 'tailwindcss';

@theme{
  --color-orange: var(--orange);
  --color-greyfirst: var(--greyfirst);
  --color-greysecond: var(--greysecond);
  --color-white: var(--white);
  --color-black: var(--black);
}

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

