/* COLOR VARIABLES */
:root {
  --orange: #FF4C00;
  --greyfirst: #FFF3ED;
  --greySecond: #F2F6FF;
  --black: #000000;
  --white: #FFFFFF;
 
}

/* FONT FAMILY */
:root {
  --font-poppins: 'Poppins', sans-serif;
}